@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('Montserrat-Bold.ttf')  format('truetype'), 
  url('fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('Montserrat-Regular.ttf')  format('truetype'), 
  url('fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'),
  url('fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.woff') format('woff'), url('BalooBhaina-Regular.ttf')  format('truetype'),
     url('fonts/BalooBhaina-Regular/BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.head-1 
{
  background-image: url(picture/cloud-baner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.head
{
  background-image: url(picture/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1100px;
  width: 100%;
}

.head-1 .navbar-brand img
{
  padding-right: 80px;
}

.head-1 .navbar.navbar-expand-lg.navbar-light
{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 50px;
}

.head-1 .list .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  padding-top: 40px;
  padding-right: 20px;
  white-space: nowrap;
}

.head-1 .list li.nav-item a.nav-link.icon-setting
{
  border: 1px solid #ffb600;
  border-radius: 50px;
  color: white;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 0px;
  background-color: #ffb600;
  margin-left: 30px;
}

.head-1 .list li.nav-item a.nav-link.icon-setting-1
{
  border: 1px solid #ffb600;
  border-radius: 50px;
  color: #ffb600;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 0px;
  margin-left: 0;
}

.head-1 .list li.nav-item a.nav-link.icon-setting-2
{
  border: 1px solid #ffb600;
  border-radius: 50px;
  color: #ffb600;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  margin-left: 0;
  padding-bottom: 0px;
}

.head-1 .list li.nav-item a.nav-link.icon-setting-3
{
  border: 1px solid #ffb600;
  border-radius: 50px;
  color: #ffb600;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 0px;
  margin-left:0;
}

.head-1 .list li.nav-item.icon
{
  margin-left: 5px;
  padding-top: 40px;
}

.head-1 .list li.nav-item a.nav-link.note
{
  color:#ffb600;
  border-bottom: 1px solid #ffb600;
}

.head-1
{
  position: absolute;
  z-index: 1;
  margin-left:0;
  margin-right: 0;
  width:100%;
}

.head-1 .navbar-collapse .list .sign-in
{
  background-image: url(picture/chest.png);
  background-repeat: no-repeat;
  width: 170px;
  height: 150px;
  margin-left: 50px;
}

.head-1 .navbar-collapse .list .sign-in a.nav-link
{
  text-align: center;
  color: white;
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  padding-top: 10px;
  padding-right: 0;
}
.head-2 .col-lg-6.col-md-6.right
{
  padding-top: 50px;
  border-left: 1px solid gray;
}

.head-2 .col-lg-6.col-md-6.left
{
  padding-top: 50px;
  height: 350px;
}

.head-2 .col-lg-6.col-md-6.left div.button a
{
  font-family: 'Montserrat-Bold';
  background-color: white;
  color: black;
  border: 5px solid #ffb600;
  border-radius: 50px;
  padding: 6px 50px;
  font-size: 18px;
  margin-left: 90px;
}

.head-2 .col-lg-6.col-md-6.left p
{
  color:#ffb600;
  font-family: 'BalooBhaina-Regular';
  font-size: 24px;
} 

.head-2 .col-lg-6.col-md-6.left form .form-group .form-control
{
  font-family: 'Montserrat-Regular';
  font-size: 13px;
  border: 1px solid;
  border-radius: 30px;
  padding:14px 12px;
  margin-bottom: 25px;
}

.head-2 .col-lg-6.col-md-6.right form .form-group .form-control
{
  font-family: 'Montserrat-Regular';
  font-size: 13px;
  border: 1px solid;
  border-radius: 30px;
  padding:14px 12px;
  margin-bottom: 30px;
}

.head-2 .col-lg-6.col-md-6.right div.nut a
{
  font-family: 'Montserrat-Bold';
  background-color: #ffb600;
  color: white;
  border: 5px solid #ffb600;
  border-radius: 50px;
  padding: 6px 50px;
  font-size: 18px;
  margin-top: 45px;
  margin-left: 70px;
}

.head-2 .col-lg-6.col-md-6.right p
{
  color:#ffb600;
  font-family: 'BalooBhaina-Regular';
  font-size: 24px;
} 

.head-2 .col-lg-6.col-md-6.right span
{
  font-family: 'Montserrat-Light';
  font-size: 12px;
} 

.head-2 .row .col-md-8 .row
{
  opacity: 0;
  content:'';
  position: relative;
  z-index: 1;
  top: 22%;
  background-color: rgba(255,255,255,0.95);
  left:65%;
  height:500px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 50px;

}

.head-2 .row .col-md-8 .row:hover
{
  opacity: 1;
  -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.content-baner .content-right
{
  z-index: 1;
}

.content-baner .content-right img
 {
    position: relative;
    top: 30%; 
    height: 90%;
 }
 header
 {
  position: relative;
 }

header .foot
{
  position: absolute;
  top: 50%;
  transform: translateY(75%);
  z-index: 1;
  width: 100%
}

header .foot img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-baner
{
  position: absolute;
  top: 30%;
}

.content-baner .content
{
  position: relative;
  padding-left: 10%;
}

.content-baner .content h2.title
{
  font-family: 'Montserrat-Bold';
  font-size: 70px;
  color: white;

}

.content-baner .content p.sub-title
{
  font-family: 'Montserrat-Bold';
  font-size: 60px;
  color: #f0ff00;
  left: 30px;
  padding-left: 150px;
}

.content-baner .content p.hextech
{
  width: 600px;
  height: 100px;
  font-family: 'Montserrat-Light';
  font-size: 13px;
  color: white;
}

.box .row
{
  position: relative;
  top: 54%;
  left: 0%;
 }

 .box .row .form-row.above .form-group.col-md-6.b1
{
  border: 2px dotted white;
  border-radius: 20px;
  padding: 3px;
}
.box .row .form-row.above .form-group.col-md-6.b1 .form-control
 {
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Montserrat-Light';
  font-size: 11px;
  padding-right: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
 
 }

 .box .row .form-row.above .form-group.col-md-6.b2
 {
  border: 2px dotted white;
  border-radius: 20px;
  padding: 3px;
}

 .box .row .form-row.above .form-group.col-md-6.b2 .form-control
{
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Montserrat-Light';
  font-size: 11px;
  padding-right: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
 
 }

  .box .row .form-row.under .form-group.col-md-6.u1
 {
  border: 2px dotted white;
  border-radius: 20px;
  padding: 3px;
}

 .box .row .form-row.under .form-group.col-md-6.u1 .form-control
{
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Montserrat-Light';
  font-size: 11px;
  padding-right: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
 
 }

  .box .row .form-row.under .form-group.col-md-6.u2
 {
  border: 2px dotted white;
  border-radius: 20px;
  padding: 3px;
}

 .box .row .form-row.under .form-group.col-md-6.u2 .form-control
{
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Montserrat-Light';
  font-size: 11px;
  padding-right: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
 
 }

 .content-baner .DK a
 {
  font-family: 'Montserrat-Bold';
  font-size: 50px;
  position: relative;
  color: #ffb600;
  top: 100%;
  text-transform: uppercase;
  font-weight: bolder;
  left: 50%;
  text-shadow: -1px 1px 0px white;
  -webkit-text-stroke: 1px white;
  z-index: 1;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
  border-radius: 100px;
 }


.content-middle
 {
  background-image: url(picture/under-baner.jpg);
  background-repeat: no-repeat;
  height: 920px;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
 }

  .content-middle .content-in-left
  {
    padding-top: 150px;
  }

 .content-middle .content-in-left img
 {
  position: relative;
  width: 603px;
  height: 600px;
  z-index: 1;
 }

 .content-middle .content-in-mid
 {
  padding-top: 320px;
  z-index: 1;
 }

 .content-middle p.mid-content
 {
  position: relative;
  font-family: 'Montserrat-Light';
  font-size: 19px;
  width: 500px;
  height: 195px;
  margin-right: 0px;
 }

 
 .content-middle .content-in-mid a.enjoy
 {
  font-size: 17px;
  text-transform: uppercase;
  position: absolute;
  border: 1px solid white;
  background-color: #ffb600;
  border-radius: 50px;
  padding: 10px 55px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 20px;
 }
.content-middle .content-in-mid a.back-to-top
 {
  font-size: 17px;
  position: relative;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: #ffb600;
  border-radius: 50px;
  padding: 10px 40px;
  font-weight: bold;
  margin-left: 250px;
  margin-top: 20px;
 }


.content-middle .leg-middle
{
  position: absolute;
  top: 70%;
  width: 100%;
  z-index: 1;
}

.content-middle .leg-middle img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#reward
{
  background-image: url(picture/section-under.jpg);
  background-repeat: no-repeat;
  height: 960px;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}

#reward .col-md-7
{
  padding-left:0px;
  padding-right: 0px;
}

#reward .time-event .col-md-3 p
{
  width: 180px;
  text-align: center;
}

#reward .time-event .col-md-3 img
{
  width: 150px;

}

#reward .time-event .col-md-3.right
{
  padding-left: 10%;
  margin-top: 40%;
}

#reward .time-event .col-md-3.middle
{
  padding-left: 40px;
}

#reward .time-event .col-md-3.left
{
  padding-right: 20px;

}

#reward .time-event .col-md-7 .content-top
{
  position: relative;
  top: 40%;
  left: 70%;
  transform: translateX(-50%);
  font-family: 'Montserrat-Bold';
  color: #ffb600;
  width: 500px;
}

#reward .time-event .col-md-7 .content-bot
{
  position: relative;
  left: 50%;
  transform: translate(-27%, 11%);
  color: #ffb600;
  font-size: 36px;
  width: 600px;
  font-family: 'BalooBhaina-Regular';
  z-index: 2;
}


#reward .time-event .col-md-3.right img
{
  width: 120px;
}

#reward .time-event .col-md-3
{
  margin-top: 43%;
  position: relative;
  left: 20%;
}

#reward .time-event .col-md-3 p
{
  color: white;
  font-size: 16px;
}

#reward .time-event .col-md-5 img
{
  position: relative;
  width: 100%;
  height: 90%;
  margin-top: 33%;
}

#reward .time-event .col-md-5
{

  padding-left:0px;
  padding-right: 0px;
  z-index: 2;
}

#reward .leg-reward
{
  position: absolute;
  top: 65%;
  width: 100%;
  z-index: 1;
}

#reward .leg-reward img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.under-prize
{
  background-image: url(picture/nearlast.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 960px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.under-prize .contest img
{
  position: relative;
  margin-top: 7%;
  margin-left: 33%;
}

.under-prize .content-contest .mla .nav-item
{
  margin: 0px 40px;
} 

.under-prize .content-contest .mla
{
  margin-left: 20%;
  margin-top: 2%;
}

.under-prize .content-contest .mla .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 18px;
  color: white;
  text-align: center;
}

.under-prize .slick-slider p
{
  text-align: center;
  font-family: 'BalooBhaina-Regular';
  font-size: 33px;
  color: white;
}

.under-prize .slick-slider img
{
  width: 90%;
  height: 50%;
  margin-left: 44px;
}

.under-prize .slick-slider.slick-dotted
{
  margin-bottom: 0px;
}

.under-prize .slick-slider
{
  margin-top: 1%;
  max-width: 100%;
  object-fit: cover;
  margin-left: 0px;
}

.under-prize .foot-1
{
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.under-prize .foot-1 img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.under-prize .slide-control
{
  width: 98%;
  z-index: 1;
  position: absolute;
  bottom: 1%;

}
    
.under-prize .previous 
{
  
  float: left;
  display: inline-flex;

}

.under-prize .previous a.previous-1
{
  font-family: 'BalooBhaina-Regular';
  font-size: 36px;
  padding-left:0px;
  color: #545454;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
}


.under-prize .next
{
  float: right;
  display: inline-flex;
}

.under-prize .next a.next-1
{
  font-family: 'BalooBhaina-Regular';
  font-size: 30px;
  color: #545454;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0);
}

.under-prize .slick-slider .slick-dots
{
  position: relative;
}

.under-prize .slick-slider ul.slick-dots li
{
  display: none;
  position: absolute;
  z-index: 4;
}


.under-prize .slick-slider ul.slick-dots li.slick-active
{
  display: block;
  margin-right: 0px;
  font-family: 'BalooBhaina-Regular';
  font-size: 48px;
  color: #ffb600;
  margin-left: 49%;
  margin-top: 4%;
}

.under-prize .slick-slider ul.slick-dots li.slick-active a .consumn
{
  font-size: 70%;
  color: #545454;
  
}


.last-page
{
  background-image: url(picture/footer.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
}

.last-page .row
{
  padding-top: 10%;
}

.last-page .col-md-4 h2.title
{
  font-size: 18px;
  font-family: 'BalooBhaina-Regular';
  margin-top: 50px;
}

.last-page .col-md-4 .content-left
{
  color:#1c1c1c;
  font-family: 'BalooBhaina-Regular';
  font-size: 15px;
}

.last-page .col-md-4 .content-left .fa.fa-envelope-o
{
  border: 1px solid;
  padding: 1px;
  border-color: #696969;
  border-radius: 5px;
  background-color: #525252;
  color: white;
}

.last-page .col-md-4 .content-left i
{
  color: #525252;
}

.last-page .col-md-4 .col-sm-4 .wrap-img img
{
  padding: 10px 0;
}



footer .leg-foot
{
  background-image: url(picture/footer-straight.png);
  background-repeat: no-repeat;
  margin-top: 12%;
  background-position: center;
  height: 100px;
  width: 100%;

}

footer .leg-foot a
{
  position: relative;
  margin-top: 2%;
  margin-left: 49%;
  border: 5px solid #e2e1de;
  border-radius: 100px;
  color: #e2e1de;
  padding: 0px 1px;
  width: 33px;
  height: 32px;
  background-color: #ffb400;
}


.footer-main .navbar .slimz .nav-item a.nav-link
{
  font-family: 'BalooBhaina-Regular';
  font-size: 17px;
  color: black;
}

.footer-main .navbar .navbar-brand
{
  padding-left: 10%;
  font-family: 'BalooBhaina-Regular';
  font-size: 16px;
  color: black;
}
