
@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),  url('BalooBhaina-Regular.woff') format('woff'), url('BalooBhaina-Regular.ttf')  format('truetype'), url('BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
